.video {
  position: relative;
  margin-bottom: 170px;
  &__content {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 625px;

    &-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      @include flex-all-center;
      transform: translate(-50%, -50%);
      z-index: 10;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      &--played {
        opacity: 0;
        visibility: hidden;
      }
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
  &__wrapper {
    display: block;
    width: 1060px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  &__learn {
    position: absolute;
    &-one {
      left: 0;
      top: 0;
    }
    &-two {
      right: 0;
      bottom: 0;
    }
  }
}
