:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1300px;
  --content-fluid-width: 1330px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --Satin-Linen: #e7e4db;
  --Contessa: #c77d6b;
  --Abbey: #484a4b;
  --Shingle-Fawn: #765a33;
  --Tundora: #414141;
  --Silver: #bdbdbd;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "JosefinSlab";
  src: url("../fonts/../fonts/JosefinSlabRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratBlack.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/../fonts/PlayfairDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding: 150 0 135px;
}
@media (max-width: 576px) {
  .section-offset {
    padding: 80px 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.form__label {
  width: 100%;
}
.form__input {
  width: 100%;
  border-radius: 5px;
  padding: 20px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--Abbey);
  border: 2px solid #d1d1d1;
  margin-bottom: 25px;
}
.form__input::-webkit-input-placeholder {
  color: var(--Silver);
}
.form__input::-moz-placeholder {
  color: var(--Silver);
}
.form__input:-ms-input-placeholder {
  color: var(--Silver);
}
.form__input::-ms-input-placeholder {
  color: var(--Silver);
}
.form__input::placeholder {
  color: var(--Silver);
}
.form__input--message {
  padding: 20px 40px 70px;
}
.form__btn {
  background-color: #c87e6b;
  padding: 15px;
  color: var(--Satin-Linen);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 60px;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-position-x: center;
  position: relative;
  background-repeat: no-repeat;
}

.header {
  min-height: 100px;
  padding: 30px 0;
  background-color: var(--Contessa);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: var(--Satin-Linen);
}

.hero {
  margin: 0;
  font-size: 0;
  position: relative;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__title {
  margin: 0;
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 55px;
  color: var(--Abbey);
  margin-bottom: 20px;
  position: relative;
}
.hero__subtitle {
  display: block;
  margin: 0;
  font-weight: 700;
  color: var(--Shingle-Fawn);
  font-size: 25px;
  margin-bottom: 15px;
}
.hero__text {
  display: block;
  margin: 0;
  font-family: "JosefinSlab";
  font-weight: 400;
  font-size: 23px;
  color: var(--Shingle-Fawn);
  max-width: 90%;
}
.hero__content {
  padding-left: 100px;
  text-align: center;
  max-width: 460px;
}
.hero__image {
  -webkit-transform: translateX(423px);
  -ms-transform: translateX(423px);
  transform: translateX(423px);
}
.hero__learn {
  position: absolute;
}
.hero__learn-one {
  left: 0;
  bottom: -20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--Satin-Linen);
}
.nav__item:not(:last-child) {
  margin-right: 75px;
}

.achievements {
  margin-bottom: 150px;
  min-height: 100px;
  background-color: rgba(107, 80, 55, 0.75);
}
.achievements__content {
  padding: 75px 92px;
}
.achievements__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
  gap: 162px;
}
.achievements__item {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  width: 162px;
}
.achievements__digit {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 49px;
  color: var(--light-color);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.achievements__text {
  font-weight: 600;
  line-height: 160%;
  color: var(--light-color);
  text-align: center;
  font-size: 17px;
  margin: 0;
}

.products {
  margin-bottom: 100px;
}
.products__head {
  margin: 0;
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 55px;
  color: var(--Abbey);
  text-align: center;
  margin-bottom: 20px;
}
.products__subtitle {
  margin: 0;
  font-weight: 700;
  color: var(--Shingle-Fawn);
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}
.products__item {
  width: 85%;
  max-width: 294px;
  margin: 2em auto;
  padding: 1em;
  -webkit-box-shadow: 0 0 10px 5px rgb(221, 221, 221);
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
}
.products__bottom {
  background-color: #e6e3da;
}
.products__title {
  margin: 0;
  font-weight: 600;
  line-height: 160%;
  color: var(--Abbey);
  font-size: 15px;
  text-align: center;
}
.products__text {
  font-weight: 400;
  line-height: 160%;
  color: var(--Shingle-Fawn);
}
.products__link {
  background-color: var(--Tundora);
  border: none;
  color: var(--light-color);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 20px;
  width: 105px;
  text-align: center;
}
.products__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.products__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.products__slider-btn--prev {
  background-image: url(../img/prev-2.png);
  margin-right: 55px;
}
.products__slider-btn--next {
  background-image: url(../img/next-1.png);
}
.products .swiper-slide {
  width: 294px;
}
.products .swiper-button-disabled {
  opacity: 0.3;
}

.video {
  position: relative;
  margin-bottom: 170px;
}
.video__content {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 625px;
}
.video__content-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.video__content-btn--played {
  opacity: 0;
  visibility: hidden;
}
.video__content-btn svg {
  width: 50px;
  height: 50px;
}
.video__wrapper {
  display: block;
  width: 1060px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
}
.video__learn {
  position: absolute;
}
.video__learn-one {
  left: 0;
  top: 0;
}
.video__learn-two {
  right: 0;
  bottom: 0;
}

.special {
  margin-bottom: 100px;
}
.special__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.special__left {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  background-color: #ddc57c;
  height: 519px;
}
.special__right {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.special__title {
  font-family: "PlayfairDisplay";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  padding: 15px 35px;
  color: #e7e4db;
  background-color: var(--Tundora);
  border-radius: 70px;
  width: 225px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.special__box {
  padding: 70px 20px 20px;
  text-align: center;
}
.special__discounter {
  margin: 0;
  color: var(--Tundora);
  font-size: 130px;
  font-weight: 900;
  margin-bottom: 10px;
  position: relative;
}
.special__discounter::after {
  content: "";
  background-image: url(../img/special__flor-left.png);
  width: 72px;
  height: 136px;
  position: absolute;
  left: 150px;
  top: 0;
  background-repeat: no-repeat;
}
.special__discounter::before {
  content: "";
  background-image: url(../img/special__flor-right.png);
  width: 72px;
  height: 136px;
  position: absolute;
  right: 150px;
  top: 0;
  background-repeat: no-repeat;
}
.special__text {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  color: var(--Tundora);
  max-width: 215px;
  margin: 0 auto;
}

.select {
  margin-bottom: 200px;
  position: relative;
}
.select::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -70px;
  width: 173px;
  height: 304px;
  z-index: -1;
  background-image: url(../img/select__decor.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.select__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
.select__left {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
}
.select__right {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.select__image {
  position: relative;
}
.select__image::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 4px solid var(--Shingle-Fawn);
  z-index: -1;
}
.select__image::after {
  content: "";
  position: absolute;
  background-color: var(--Contessa);
  right: 45px;
  top: -20px;
  width: 200px;
  height: 200px;
  z-index: -1;
}
.select__right {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  position: relative;
}
.select__right::after {
  content: "";
  background-image: url(../img/select__image_f.png);
  width: 138px;
  height: 76px;
  position: absolute;
  left: 0;
  top: -95px;
  background-repeat: no-repeat;
}
.select__title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 160%;
  color: var(--Abbey);
}
.select__text {
  margin: 0;
  line-height: 150%;
  color: var(--Shingle-Fawn);
  font-size: 20px;
  max-width: 400px;
}

.order__title {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  line-height: 120%;
  color: var(--Abbey);
  max-width: 460px;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.order__descr {
  margin: 0;
  font-family: "JosefinSlab";
  font-weight: 400;
  line-height: 120%;
  color: var(--Abbey);
  max-width: 800px;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.order__form {
  max-width: 950px;
}

.footer {
  padding: 90px 30px 40px;
  background-color: #424242;
}
.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
}
.footer__left {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.footer__right {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
.footer__end {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.footer__image {
  margin-bottom: 30px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 15px;
}
.footer__adress {
  font-weight: 400;
  color: var(--Satin-Linen);
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 45px;
}
/*# sourceMappingURL=main.css.map */