<section class="achievements ">
  <div class="container achievements__container">
    <div class="achievements__content">
      <ul class="list-reset achievements__list">
        <li class="achievements__item">
          <div class="achievements__digit">3000 <span>+</span></div>
          <p class="achievements__text">Packages Sold</p>
        </li>
        <li class="achievements__item">
          <div class="achievements__digit">5000 <span>+</span></div>
          <p class="achievements__text">Bouquet Sold</p>
        </li>
        <li class="achievements__item">
          <div class="achievements__digit">7000 <span>+</span></div>
          <p class="achievements__text">Happy Clients</p>
        </li>
        <li class="achievements__item">
          <div class="achievements__digit">10 <span>+</span></div>
          <p class="achievements__text">Years of Experience</p>
        </li>
      </ul>
    </div>
  </div>
</section>
