<header class="header">
  <div class="container-fluid header__container">
    <!-- <picture>
      <source srcset="../img/logo.png.webp" type="image/webp">
      <img loading="lazy" src="../img/logo.png." class="image" width="150" height="10" alt="Логотип">
    </picture> -->
    <a href="#" class="logo">
      <picture>
        <source srcset="../img/logo.webp" type="image/webp">
        <img loading="lazy" src="../img/logo.png" class="image" width="150" height="10" alt="Логотип">
      </picture>
    </a>
    <nav class="  nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link " data-menu-item data-scroll="">HOME</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="">SERVICES</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="">ABOUT</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll="">CONTACT</a></li>
      </ul>
      <button class="btn-reset burger-close" data-menu-close aria-label="Закрыть меню"></button>
    </nav>
    <a href="tel:+78000001122" class="phone header__phone">+7 800 000 11 22</a>
  </div>
</header>
