<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Flower <br>
        Arrangements
      </h1>
      <p class="hero__subtitle">For all special occasions</p>
      <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor
        incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.</p>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="./img/image.webp" type="image/webp">
        <img loading="lazy" src="./img/image.png" class="image" width="720px" height="803px" alt="Девушка с цветами">
      </picture>
    </div>
    <div class="hero__learn hero__learn-one ">
      <picture>
        <source srcset="./img/learn-1.webp" type="image/webp">
        <img loading="lazy" src="./img/learn-1.png" class="image" width="131" height="269" alt="Цветок ">
      </picture>
    </div>
  </div>
</section>
