<section class="products">
  <div class="container products__container">
    <h2 class="products__head">Our Top Products</h2>
    <p class="products__subtitle">Lorem ipsum dolor sit amet, consectetur.</p>
    <div class="swiper products__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="products__item">
            <picture>
              <source srcset="./img/item_1.webp" type="image/webp">
              <img loading="lazy" src="./img/item_1.jpg" class="products__image" width="294" height="291"
                alt="Цветы в вазе">
            </picture>
            <div class="products__bottom">
              <div class="products__title">Lorem impsun </div>
              <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              </p>
              <a href="#" class=" products__link">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__item">
            <picture>
              <source srcset="./img/item_1.webp" type="image/webp">
              <img loading="lazy" src="./img/item_1.jpg" class="products__image" width="294" height="291"
                alt="Цветы в вазе">
            </picture>
            <div class="products__bottom">
              <div class="products__title">Lorem impsun </div>
              <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              </p>
              <a href="#" class=" products__link">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__item">
            <picture>
              <source srcset="./img/item_2.webp" type="image/webp">
              <img loading="lazy" src="./img/item_2.jpg" class="products__image" width="294" height="291"
                alt="Цветы в вазе">
            </picture>
            <div class="products__bottom">
              <div class="products__title">Lorem impsun </div>
              <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              </p>
              <a href="#" class=" products__link">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__item">
            <picture>
              <source srcset="./img/item_3.webp" type="image/webp">
              <img loading="lazy" src="./img/item_3.jpg" class="products__image" width="294" height="291"
                alt="Цветы в вазе">
            </picture>
            <div class="products__bottom">
              <div class="products__title">Lorem impsun </div>
              <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              </p>
              <a href="#" class=" products__link">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products__item">
            <picture>
              <source srcset="./img/item_4.webp" type="image/webp">
              <img loading="lazy" src="./img/item_4.jpg" class="products__image" width="294" height="291"
                alt="Цветы в вазе">
            </picture>
            <div class="products__bottom">
              <div class="products__title">Lorem impsun </div>
              <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              </p>
              <a href="#" class=" products__link">Подробнее</a>
              <div class="products__bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="products__nav">
          <div class="products__btn">
            <button class="btn-reset products__slider-btn products__slider-btn--prev"
              aria-label="Предыдущий слайд"></button>
            <button class="btn-reset products__slider-btn products__slider-btn--next"
              aria-label="Следующий слайд"></button>
          </div>
        </div>
      </div>
    </div>
</section>
