<section class="select">
  <div class="container select__container">
    <div class="select__content">
      <h2 class="select__title visually-hidden">We select the
        best flowers</h2>
      <div class="select__left">
        <div class="select__image">
          <picture>
            <source srcset="../img/select__image.webp" type="image/webp">
            <img loading="lazy" src="../img/select__image.jpg" class="image" width="680" height="586" alt="Букет Роз">
          </picture>
        </div>
      </div>
      <div class="select__right">
        <h2 class="select__title">We select the
          best flowers</h2>
        <p class="select__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

