<section class="special">
  <div class="special__container">
    <div class="special__block">
      <h2 class="visually-hidden">Special Offer</h2>
      <div class="special__left">
        <div class="special__box">
          <div class="special__title">Special Offer</div>
          <div class="special__discounter">20%</div>
          <p class="special__text">Discount on your
            first purchase</p>
        </div>
      </div>
      <div class="special__right">
        <picture>
          <source srcset="./img/descounter.webp" type="image/webp" class="special__image">
          <img loading="lazy" src="./img/descounter.jpg" class="image" width="1000" height="523"
            alt="Девушка с цветами">
        </picture>
      </div>
    </div>
  </div>
</section>
