<section class="video">
  <div class="video__container container">
    <h2 class="products__head">Our Top Products</h2>
    <p class="products__subtitle">Lorem ipsum dolor sit amet, consectetur</p>
    <div class="video__learn video__learn-one ">
      <picture>
        <source srcset="../img/decore-1.webp" type="image/webp">
        <img loading="lazy" src="./img/decore-1.png" class="image" width="92" height="246" alt="Цветок ">
      </picture>
    </div>
    <div class="video__learn video__learn-two ">
      <picture>
        <source srcset="../img/decore-2.webp" type="image/webp">
        <img loading="lazy" src="./img/decore-2.png" class="image" width="92" height="246" alt="Цветок ">
      </picture>
    </div>
    <div class="video__content">
      <div class="video__wrapper">
        <button class="btn-reset video__content-btn" aria-label="Play Video">
          <svg>
            <use xlink:href="img/sprite.svg#play_video"></use>
          </svg>
        </button>
        <video class="video__play" src="flora.mp4" muted loop preload="metadata"></video>
      </div>
    </div>
  </div>
</section>
