// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1300px;
  --content-fluid-width: 1330px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --Satin-Linen: #e7e4db;
  --Contessa: #c77d6b;
  --Abbey: #484a4b;
  --Shingle-Fawn: #765a33;
  --Tundora: #414141;
  --Silver: #bdbdbd;
}
